.main{
    margin: auto;
    text-align: center;
}

.headerArea{
    border: 2px solid blue;
    width: 1000px;
    height: 100px;
    align-content: center;
    margin: auto;
  }
  .tasks{
    border: 2px solid red;
    width: 1000px;
    height: 300px;
    align-content: center;
    margin: auto;
  }
  .show{
    border: 2px solid yellowgreen;
    width: 1000px;
    height: 100px;
    align-content: center;
    margin: auto;
  }
  /* #showTasks{
    align-content: center;
    margin: auto;
  } */